<h3 class="text-center fw-bold">Form101</h3>

<div class="container mt-3">
    <div class="row">
        <div class="col-6 fw-bold">Razón Social:</div>
        <div class="col-6">@razSocial</div>

        <div class="col-6 fw-bold">RUC:</div>
        <div class="col-6">@ruc</div>

        <div class="col-6 fw-bold">Año</div>
        <div class="col-6">
            <select class="form-select"
                    @bind="anioSeleccionado"
                    @bind:after="OnAnioChanged">
                <option value="">-- Seleccione --</option>
                @foreach (var a in anios)
                {
                    <option value="@a">@a</option>
                }
            </select>
        </div>
    </div>
</div>

@if (ingresosEgresos != null)
{
    <div class="container mt-4">

        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <table class="table table-bordered">
                    <tr>
                        <td colspan="3" class="fw-bold text-center">
                            DETALLE DE ACTIVOS
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Activos Corrientes:
                        </td>
                        <td>
                            <input class="form-control form-control-editable text-end"
                                   type="number"
                                   step="0.01"
                                   min="0.00"
                                   placeholder="prueba"
                                   @bind-value:get="ingresosEgresos.TotalActivoCorriente470"
                                   @bind-value:set="(v) => { ingresosEgresos.TotalActivoCorriente470 = Convert.ToDecimal(v); RecalcularActivos(); RecalcularBase(); }"
                                   @bind-value:event="oninput" />
                        </td>
                        <td>(a)</td>
                    </tr>
                    <tr>
                        <td>
                            Activos no Corrientes:
                        </td>
                        <td>
                            <input class="form-control form-control-editable text-end"
                                   type="number"
                                   step="0.01"
                                   min="0.00"
                                   @bind-value:get="ingresosEgresos.TotActivoNoCorriente1077"
                                   @bind-value:set="(v) => { ingresosEgresos.TotActivoNoCorriente1077 = Convert.ToDecimal(v); RecalcularActivos(); RecalcularBase(); }"
                                   @bind-value:event="oninput" />
                        </td>
                        <td>(b)</td>
                    </tr>
                    <tr class="fw-bold">
                        <td>
                            Total Activos:
                        </td>
                        <td class="text-end">
                            @ingresosEgresos.TotalActivo1080
                        </td>
                        <td>(c) = (a)+(b)</td>
                    </tr>
                </table>
            </div>

            <div class="col-12 col-md-6">
                <table class="table table-bordered">
                    <tr>
                        <td colspan="3" class="fw-bold text-center">
                            DETALLE DE PASIVOS
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Pasivo Corriente:
                        </td>
                        <td>
                            <input class="form-control form-control-editable text-end"
                                   type="number" step="0.01" min="0.00"
                                   @bind-value:get="ingresosEgresos.TotPasivosCorrientes1340"
                                   @bind-value:set="(v) => { ingresosEgresos.TotPasivosCorrientes1340 = Convert.ToDecimal(v); RecalcularPasivos(); RecalcularBase(); }"
                                   @bind-value:event="oninput" />
                        </td>
                        <td>(d)</td>
                    </tr>
                    <tr>
                        <td>
                            Pasivo no Corriente:
                        </td>
                        <td>
                            <input class="form-control form-control-editable text-end"
                                   type="number" step="0.01" min="0.00"
                                   @bind-value:get="ingresosEgresos.TotalPasivosLargoPlazo1590"
                                   @bind-value:set="(v) => { ingresosEgresos.TotalPasivosLargoPlazo1590 = Convert.ToDecimal(v); RecalcularPasivos(); }"
                                   @bind-value:event="oninput" />
                        </td>
                        <td>(e)</td>
                    </tr>
                    <tr>
                        <td>Pasivo Contingente:</td>
                        <td>
                            <input class="form-control form-control-editable text-end"
                                   type="number"
                                   step="0.01"
                                   min="0.00"
                                   value="@(
                                   ((ingresosEgresos.TotalPasivos1620 ?? 0)
                                    - (ingresosEgresos.TotPasivosCorrientes1340 ?? 0)
                                    - (ingresosEgresos.TotalPasivosLargoPlazo1590 ?? 0))
                                   .ToString(System.Globalization.CultureInfo.InvariantCulture))" />
                    </td>
                    <td>(f)</td>
                </tr>
                <tr class="fw-bold">
                    <td>
                        Total Pasivo:
                    </td>
                    <td class="text-end">
                        @ingresosEgresos.TotalPasivos1620
                    </td>
                    <td>(g)=(d)+(e)+(f)</td>
                </tr>
            </table>
        </div>
    </div>

        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-6">
                <table class="table table-bordered">
                    <tr class="fw-bold">
                        <td>
                            Patrimonio:
                        </td>
                        <td class="text-end">
                            @(ingresosEgresos.TotalActivo1080 - ingresosEgresos.TotalPasivos1620)
                        </td>
                        <td>(h)=(c)-(g)</td>
                    </tr>
                    <tr class="fw-bold">
                        <td>
                            Base 1.5*1000 Activo Total
                        </td>
                        <td class="text-end">
                            @baseForm
                        </td>
                        <td>(i)=(c)-(d) * 1.5 / 1000</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-6">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            Ingresos:
                        </td>
                        <td>
                            <input class="form-control form-control-editable text-end"
                                   type="number"
                                   min="0.00"
                                   step="0.01"
                                   @bind-value="ingresosEgresos.TotalIngresos1930"
                                   @bind-value:event="oninput" />
                        </td>
                        <td>(j)</td>
                    </tr>
                    <tr>
                        <td>
                            Costos / Gastos:
                        </td>
                        <td>
                            <input class="form-control form-control-editable text-end"
                                   type="number"
                                   step="0.01"
                                   min="0.00"
                                   @bind-value="ingresosEgresos.TotasCostosGastos3380"
                                   @bind-value:event="oninput" />
                        </td>
                        <td>(k)</td>
                    </tr>
                    <tr class="fw-bold">
                        <td class="text-end">
                            @LabelResultado
                        </td>
                        <td class="text-end">
                            @Math.Abs(ingresosEgresos.TotalIngresos1930.Value - ingresosEgresos.TotasCostosGastos3380.Value)
                        </td>
                        <td>(l)=(j)-(k)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-6">
            <table>
                <tr>
                    <td>
                        Cantones:
                    </td>
                    <td>
                        <CheckDropdownGrouped TItem="Canton"
                                              TGroup="string"
                                              Items="@cantones.Cantones"
                                              Selected="@selectedCantones"
                                              SelectedChanged="@OnCantonesChanged"
                                              GroupBySelector="c => c.Provincia"
                                              GroupSelector="prov => prov"
                                              ValueSelector="c => c.Id.ToString()"
                                              TextSelector="c => c.NombreCanton" />
                    </td>
                    <td>
                        % a pagar otros cantones
                    </td>
                    <td>
                        <input class="form-control form-control-editable text-end"
                               type="number"
                               step="0.01"
                               min="0.00"
                               max="@MaxPercent"
                               @bind-value="porcentaje"
                               @bind-value:event="oninput" />
                    </td>
                    <td>
                        Total a pagar:
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
